name: Prod deploy

on:
    workflow_dispatch:
    push:
        tags:
            - "*"

jobs:
    upload-configs:
        uses: ./.github/workflows/upload-configs.yml
        with:
            env: prod
        secrets:
            APIFY_TOKEN: ${{ secrets.APIFY_TOKEN_PROD }}

    release-actors:
        needs: upload-configs
        uses: ./.github/workflows/release-actors.yml
        with:
            env: prod
        secrets:
            APIFY_TOKEN: ${{ secrets.APIFY_TOKEN_PROD }}
            AZURE_TOKEN: ${{ secrets.AZURE_TOKEN_PROD }}
