name: Stage deploy

on:
    workflow_dispatch:
    push:
        branches:
            - master

jobs:
    set-apify-secrets:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/setup-node@v4
                with:
                    node-version: 20

            -   run: npm install -g apify-cli

            -   name: Set Apify secrets (STAGE)
                env:
                    APIFY_TOKEN: ${{ secrets.APIFY_TOKEN_STAGE }}
                    AZURE_TOKEN: ${{ secrets.AZURE_TOKEN_STAGE }}
                run: |
                    apify login -t "$APIFY_TOKEN"
                    apify secrets add azureToken "$AZURE_TOKEN"
                    apify push
    upload-configs:
        needs: set-apify-secrets
        uses: ./.github/workflows/upload-configs.yml
        with:
            env: stage
        secrets:
            APIFY_TOKEN: ${{ secrets.APIFY_TOKEN_STAGE }}

    release-actors:
        needs: upload-configs
        uses: ./.github/workflows/release-actors.yml
        with:
            env: stage
        secrets:
            APIFY_TOKEN: ${{ secrets.APIFY_TOKEN_STAGE }}
