name: Stage deploy

on:
    workflow_dispatch:
    push:
        branches:
            - master

jobs:
    upload-configs:
        uses: ./.github/workflows/upload-configs.yml
        with:
            env: stage
        secrets:
            APIFY_TOKEN: ${{ secrets.APIFY_TOKEN_STAGE }}

    release-actors:
        needs: upload-configs
        uses: ./.github/workflows/release-actors.yml
        with:
            env: stage
        secrets:
            APIFY_TOKEN: ${{ secrets.APIFY_TOKEN_STAGE }}
            AZURE_TOKEN: ${{ secrets.AZURE_TOKEN_STAGE }}

